body {
  background-color: #282c34;

}
p {
  margin : 2px;
}
button {
  border: 1px solid #000000;
  background-color: #00000022;
  color: #ffffff;
}
.visitor {
  color: #ffffffdd;
  background-color: #ffffff11;
  border: 1px solid #000000;
  border-radius: 5px;
  margin: 20px;
  padding: 20px;
  box-shadow: 6px 4px 4px #00000066;

}